:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    background: #eee;
    color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* margin: 0px; */
    align-items: center;
    gap: 10px;
}



.cards-infos-geral {
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
}

.new-item {
    border: 1px solid gray;
    width: 750px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.form button {
    height: 30px;
    border-radius: 5%;
    border: none;
    background-color: lightgreen;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(82, 164, 82);
}

.hist {
    border: 1px solid gray;
    width: 710px;
    height: auto;
    padding: 0px 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.hist-header {
    display: flex;
    justify-content: space-between;

    /* background-color: red; */
}

.headerLine {
    width: 98%;
}

.date-input {
    display: flex;
    flex-direction: column;
}

@media (max-width:400px) {
    :root {
        font-size: 14px;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 380px;
        height: 800px;
        /* overflow: hidden; */
    }

    .cards-infos-geral {
        display: flex;
        flex-direction: column;
        /* width: 50px; */
    }

    .new-item {
        border: none;
        /* background-color: red; */
        height: 320px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        /* background-color: red; */
        border: 1px solid gray;
        padding: 10px;
    }

    .options {
        display: flex;
        gap: 5px;
    }

    .hist {
        position: relative;
        width: 280px;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }

    .list-hist {
        display: flex;
        flex-direction: column;
    }


}